/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

.byebug_history

tags

spec/examples.txt

.ruby-version

# Ignore compiled binaries
lib/**/*.so
ext/**/*.so
ext/**/*.o
ext/**/*.log
ext/**/Makefile

# Ignore project files
.idea/
